body {
  overflow: hidden;
}
.calendar-class .p-datepicker {
  width: 350px !important;
  height: 285px !important;
  max-height: 100% !important;
  overflow: hidden !important;  
}
.calendar-class .p-datepicker-inline {
  width: 300px !important;
}
.calendar-class .p-datepicker-inline {
  width: 300px;
  height: auto;
}
.calendar-class .p-datepicker-calendar th,
.calendar-class .p-datepicker-calendar td,
.calendar-class .p-datepicker-header {
  font-size: 0.75rem !important;
  padding: 0 !important;
  margin-top: -0.25rem !important;
}

