/* Ya no usamos PrimeReact, así que esto se puede eliminar */
.custom-steps-galaxy {
  padding-bottom: 1rem;
  position: relative;
  overflow: visible;
}
/* Evita que líneas se solapen si no hay suficiente espacio */
@media (max-width: 640px) {
  .step-line {
    display: none;
  }
}
