.custom-steps-galaxy {
  padding-bottom: 1rem;
  position: relative;
  overflow: visible;
}

.custom-steps-galaxy .p-steps-item {
  margin-right: 3rem;
}
.custom-steps-galaxy .p-steps-item:last-child {
  margin-right: 0;
}
