@import "tailwindcss";

:root{
  --components-background: #0a0a1bbf;
  --astroradar-purple: #8E4990;
  --astroradar-dark: #06031A;
  --astroradar-white: #EAEAFF;
}

body{
  background-image: url("../public/astroradar-fondo.png");
  background-size: cover;
}