/*SCROLLBAR*/
.render-events-list::-webkit-scrollbar {
  width: 3px;
}

.render-events-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.render-events-list::-webkit-scrollbar-thumb {
  background-color: #36b9da36;
  border-radius: 10px;
}