.eventListBg{
  background-image: url('https://media.istockphoto.com/id/452969547/es/foto/superluna-creciente.jpg?s=612x612&w=0&k=20&c=MVgqQ_NR8qC9tevdhq14AF7FkWtLim51Z7kcC-CJOLg=');
  background-repeat: no-repeat;
  background-size: cover;
}